* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor__padre {
  background-image: url(/image/blue.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
/* ********************titulo************* */
.hijo__titulo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  color: #ffffff;
  text-shadow: 2px 3px 2px rgb(12, 146, 12);
}

/* ************************tarjetas de diplomas********************* */
.hijo__contenedor {
  display: flex;
  flex-direction: row;
}
.card__diploma{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
}
.diploma {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  width: 200px;
  height: 250px;
 background: #a2d6c6;
 text-align: center;
 padding: 0;
}


.img__diploma{
    width: 100%;
    height: 100%;
}

/* **************************foto********************* */


.card__foto-grado {
  background-image: url(/image/adam-grado.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 400px;
  border-radius: 1% 50% 0 50%;
  transition: all 2s;
}
.card__foto-grado:hover{
transform: scale(1.2);
}
